<html>
<h1 style="text-align: center;">Bienvenue!</strong></h1>
<h4 style="text-align: center;">Cette application est le résultat d'un projet universitaire.</h4>
<hr />

<p style="text-align: left;">&nbsp;<strong>A quoi sert cette application?</strong></p>
<ul>
<li style="text-align: left;">Mettre en application différents algorithmes et différentes méthodes de classification supervisées.&nbsp;</li>
<li style="text-align: left;">Mettre en compétition ces algorithmes et méthodes.&nbsp;</li>
</ul>
<hr />

<p style="text-align: left;"><strong><span style="color: #ff0000;">Vous avez besoin d'aide pour comprendre le fonctionnement de l'application, cliquez sur le bouton "Aide" pour télécharger un PDF.</span></strong></p>




